/* styles.css - Challenge #1 (Skeleton) */
:root{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
}

.container{
    /* border: red 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
    gap: 10px;
}

header h1{
    color: rgb(255, 67, 99);
    font-size: 60px;
    font-weight: 800;
    text-wrap: wrap;
    text-align: center;
    margin-bottom:20px
}

.tagline{
    text-align: center;
    font-style: italic;
    font-weight: 200;
    margin-top: 0;
    color: rgba(128, 128, 128, 0.868);
}

.hero{
    display: flex;
    /* border: purple 3px solid; */
    justify-content: center;
    align-items: center;

}

.mascot-placeholder{
    /* border: black 2px solid;  */
    height: 270px;
    width: 300px;
    border-radius: 20px;
}

#mascot-image{
    /* border: red 1px solid; */
    height: 100%;
    width: 100%;
    border-radius: inherit;
    border: black 2px solid;
   
}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
    margin:0px 10px;
    border-bottom: 1px rgba(128, 128, 128, 0.275) solid;

}

.buy-tickets{
    border: none;
    height: 45px;
    width: auto;
    background-color: rgb(119, 219, 119);
    font-family: inherit;
    font-weight: bolder;
    color: rgb(255, 250, 233);
    border-radius: 10px;
    /* box-shadow: inset 100px 100px 10px 10px lightblue ; */
    box-shadow: 0px 0px 10px 5px rgba(100,232,250,0.75);
    transition: transform 0.5s ease-out

}

.make-donation{
    border: none;
    height: 45px;
    width: auto;
    background-color: rgb(36, 74, 227);
    font-family: inherit;
    font-weight: bolder;
    color: rgb(218, 226, 219);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(241, 154, 225, 0.75);
    transition: transform 0.5s ease-out

}

.buy-tickets:hover{
    transform: translateY(-3px);
    background-color: rgb(81, 178, 81);
    color: antiquewhite;
}


.make-donation:hover{
    transform: translateY(-3px);
    background-color: rgb(34, 39, 57);
    color: antiquewhite;
}


.about{
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 380px) {
    .actions{
        flex-direction: column;
        margin-top: 20px;
    }
}

footer p {
    color: rgba(128, 128, 128, 0.709);
}